<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121829678883-efrpgqgmvl22hddam38lajtnst1rfuvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121829678883-efrpgqgmvl22hddam38lajtnst1rfuvs</string>
	<key>API_KEY</key>
	<string>AIzaSyCNANUJt3RcpjZiAjL7o8G5s0yeFlMUW7I</string>
	<key>GCM_SENDER_ID</key>
	<string>121829678883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fabricio.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagram-firebase-7559b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-firebase-7559b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121829678883:ios:a9131c15db1c07cc603696</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-firebase-7559b.firebaseio.com</string>
</dict>
</plist>